<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="containerom">
        <div class="cardom">
          <div class="profile-picture">
            <img src="https://i.pinimg.com/280x280_RS/fe/7d/ee/fe7deef834e1fafe56f8023ced803ca9.jpg" alt="Profile Picture">
          </div>
          <h2 class="name">User Name</h2>
          <h3 class="username">@username</h3>
          <p class="tagline">Some Tagline</p>
          <p class="description">Some description.</p>
          <a href="#" class="button">Update Profile</a>
        </div>
    </div>
    <div class="container" style="display: flex; padding: auto;">
        <div class="card" style="width: 18rem; margin-left: 2%; margin-right:2% ;">
            <img src="https://images.pexels.com/photos/19990385/pexels-photo-19990385/free-photo-of-carretera-selvatica.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">All Designs</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem; margin-left: 2%; margin-right:2% ;">
            <img src="../images/LinkedIn.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LinkedIn</h5>
            </div>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>